# Python A to Z: Part 1

## Step 1:Print in Python

In [2]:
# <--general syntax -->
print("Hello! I am ready to explore the world of Python")

Hello! I am ready to explore the world of Python

In [1]:
# printing a single quote(') inside double quotes(" ") and double quote(") 
# inside single quotes('') is possible

print("'") # o/p: '
print('"') # o/p: "

'
"

In [3]:
# However print(""") gives error and so does print(''')

# way out is triple quotes or \(backslash) operator [escape operator]

print("""" """) # Syntax: """(triple quote)"(space)"""(triple quote)
print("""' """)

print("\"")
print('\'')

"
'
"
'

In [4]:
# printing a statement using the concepts learnt above 

print("How are you , Rahul? It's raining today, so let's meet tomorrow evening.") # using double quotes
print('How are you , Rahul? It\'s raining today, so let\'s meet tomorrow evening.') # using single quotes

How are you , Rahul? It's raining today, so let's meet tomorrow evening.
How are you , Rahul? It's raining today, so let's meet tomorrow evening.

In [5]:
# changing line while printing a statement: using triple quotes or \n operator
# for better readability

#using triple quotes
print("""Name: Rahul Sinha
School: ABC School
Age: 16""")

#using \n operator
print("Name: Rahul\nSchool: ABC School\nAge: 16")

# Note: If a space is added before or after the \n operator, the space gets reflected in the o/p also.
print(" Name: Rahul\n School: ABC School\n Age: 16") # o/p shifts to right by a single space

Name: Rahul Sinha
School: ABC School
Age: 16
Name: Rahul
School: ABC School
Age: 16
 Name: Rahul
 School: ABC School
 Age: 16

In [6]:
# let us try something new! 
print("ABC"+3*'\n'+'DEF') # b/w the two lines there will be 2 blank lines
#<--the first \n takes to a new line-->
#<--the second \n inserts a blank line and the third adds another-->

print()

print('ABC')
print(1*'\n')
print('DEF')

# the two codes are similar in result

ABC


DEF

ABC


DEF

In [7]:
# note: \t gets 4 spaces in between

print("Rahul\tSinha\tRoy")
print('Rahul'+3*' '+'Sinha'+3*' '+'Roy') # same as above
#<--the above two statements are equivalent-->

Rahul	Sinha	Roy
Rahul   Sinha   Roy

In [10]:
# Let us now print 9 8 7 6. What are the ways of doing it? 
# Here there is a very common mistake that a beginner does. Let's see. 

print("9 8 7 6")
print('9 8 7 6')
print(9,8,7,6) # when we put comma, it adds a space

#however print(9 8 7 6) throws an error since it is mixing the int and the str type.

9 8 7 6
9 8 7 6
9 8 7 6

In [11]:
print(9 8 7 6) # gives a syntax error

SyntaxError: invalid syntax (3397993117.py, line 1)

In [12]:
# combining string and int
#<--I will discuss data type in a later notebook-->
print("My age","is",28)

My age is 28

In [13]:
print("Hello Vayu, I have heard that you are more stronger than Jal.\
 Why don't you two fight against each other?")

# \ operator keeps the content on the same line 
# even though we input it on a separate line.

Hello Vayu, I have heard that you are more stronger than Jal. Why don't you two fight against each other?

In [14]:
#<-- usage of f strings and format-->
age=50
name = 'Rahul'

print("Hello {}! Your age is {}".format(name,age))
print("Hello {1}! Your age is {0}".format(age,name))
print(f"Hello {name}! Your age is {age}")  # use of f string (recommended)

Hello Rahul! Your age is 50
Hello Rahul! Your age is 50
Hello Rahul! Your age is 50

In [15]:
#let us do something new!

# try a for loop
#<--don't worry of the syntax, just enjoy the results-->
for i in range(11):
    print("Number {0} square is {1} and cube is {2}".format(i,i**2,i**3))

Number 0 square is 0 and cube is 0
Number 1 square is 1 and cube is 1
Number 2 square is 4 and cube is 8
Number 3 square is 9 and cube is 27
Number 4 square is 16 and cube is 64
Number 5 square is 25 and cube is 125
Number 6 square is 36 and cube is 216
Number 7 square is 49 and cube is 343
Number 8 square is 64 and cube is 512
Number 9 square is 81 and cube is 729
Number 10 square is 100 and cube is 1000

Look at the o/p. Clearly it is not properly alligned!

In [16]:
for i in range(11):
    print("Number {0:2} square is {1:3} and cube is {2:4}".format(i,i**2,i**3))
    #<--{0:2} -> here 2 is the width to consider -->

Number  0 square is   0 and cube is    0
Number  1 square is   1 and cube is    1
Number  2 square is   4 and cube is    8
Number  3 square is   9 and cube is   27
Number  4 square is  16 and cube is   64
Number  5 square is  25 and cube is  125
Number  6 square is  36 and cube is  216
Number  7 square is  49 and cube is  343
Number  8 square is  64 and cube is  512
Number  9 square is  81 and cube is  729
Number 10 square is 100 and cube is 1000

OK! But here is another problem! Look the numbers are right alligned but we generlly see them left alligned. Let us manipulate the code a bit

In [17]:
for i in range(11):
    print("Number {0:<2} square is {1:<3} and cube is {2:<4}".format(i,i**2,i**3))

Number 0  square is 0   and cube is 0
Number 1  square is 1   and cube is 1
Number 2  square is 4   and cube is 8
Number 3  square is 9   and cube is 27
Number 4  square is 16  and cube is 64
Number 5  square is 25  and cube is 125
Number 6  square is 36  and cube is 216
Number 7  square is 49  and cube is 343
Number 8  square is 64  and cube is 512
Number 9  square is 81  and cube is 729
Number 10 square is 100 and cube is 1000

**Note**
1. $<$ : Left alligned
2. $>$ : Right alligned
3. $^$ : Centre alligned

In [18]:
# fixing the decimal points! useful while printing 

print(f"Pi is approx. {22/7:12}") # default 15 digits after decimal
print(f"Pi is approx. {22/7:12f}")
print(f"Pi is approx. {22/7:<12f}") # 6 digits after decimal and left alligned
print(f"Pi is approx. {22/7:12.50f}")
# In the last line Python shows 50 decimal points

Pi is approx. 3.142857142857143
Pi is approx.     3.142857
Pi is approx. 3.142857
Pi is approx. 3.14285714285714279370154144999105483293533325195312

## Step 2: Taking input from the user

In [19]:
print("Hello! What is your name?")
n=input() # takes an input from the user
print("Hello",n,", How are you?")

Hello! What is your name?
Mahesh
Hello Mahesh , How are you?

In [22]:
#<--a little exercise to take i/o -->
print("Type your name:")
name = str(input())

print("Type your location:")
loc= str(input())

print("What is your age")
age=int(input())

print(f"Hello {name}! Your location is {loc} and your age is {age}.")

Type your name:
Mahesh
Type your location:
Bangalore
What is your age
29
Hello Mahesh! Your location is Bangalore and your age is 29.

In [21]:
#<--Note that in the above exercise the print and the i/o statement are 
#--written separately-->

#<--Let us merge them together-->

name = str(input("Type your name: "))
loc=str(input("Type your location: "))
age = int(input("Enter your age: "))

print(f"Hello {name}! Your location is {loc} and your age is {age}.")

Type your name: Mahesh
Type your location: Bangalore
Enter your age: 29
Hello Mahesh! Your location is Bangalore and your age is 29.

## Some Extras...!

In [24]:
#<-- a little note on string comparisons -->
# NOTE: Two strings can be compared based on the dictionary.
# If a word comes earlier in a dictionary then it is smaller than the other 
# For example: vidyut>vidzut
# Remember , however here case matters i.e Ram<ram or Vidyut<vidyut
'''
REASON

ASCII value of uppercase alphabets – 65 to 90. 
ASCII value of lowercase alphabets – 97 to 122.
ASCII value of digits [0 – 9] ranges from [48 – 57]
'''
name1 = "vidyut"
name2 = "vidzut"
print(name1<name2) 

name1 = "Vidyut"
name2 = "vidyut"
print(name1<name2) # False since V<u(in ASCII)

True
True

In [25]:
'''
Take two names as input(small letters) and print True if the first name comes 
earlier in a dictionary
'''
name1 = input()
name2 = input()
print(name1<name2)

print('----------')

print(input()<input()) # all 3 steps combined into one.

Mahesh
mahesh
True
----------
Ramesh
ramesh
True

# END of Python A to Z: Part 1